/* Menu styling for classic Plone theme */

#portal-megamenu {
    background-color: #DEE7EC;
    border: 1px solid #8CACBB;
    font-size: 100%;
}

#portal-megamenu li.top-level {
    border-right: 1px solid #8CACBB;
}

#portal-megamenu li a.menu-item {
    height: 20px;
    text-align: center;
    text-decoration: none;
    background: transparent;
    border-right: 0;    
}

#portal-megamenu li.top-level .sub {
    top: 25px;
}

#portal-megamenu li.top-level .subShadow {
	top: 25px;
}

    /*** Extra style for personaltools not to compit with megamenu ***/
    
#portal-personaltools {
    border: 0;
    background: transparent;
    clear: both;
}
    
/* End Menu styling for classic Plone theme */
